<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NIEAP - Basic Information</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <h1 class="navbar-fixed-top">NIEAP Application</h1>
                    <h2 class="navbar-fixed-top">Basic Information</h2>
                </header>
            </div>
            <div class="row">
                <p>Please provide basic information about yourself.</p>
            </div>
            <div class="row">
                <form class="wide-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstNameInput">First Name (should autofill)</label>
                            <input type="text" class="form-control" id="firstNameInput">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastNameInput">Last Name (should autofill)</label>
                            <input type="text" class="form-control" id="lastNameInput">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailInput">Email Address (should autofill)</label>
                        <input type="email" class="form-control" id="emailInput">
                    </div>
                    <div class="form-group">
                        <label for="phoneInput">Phone Number</label>
                        <input type="text" class="form-control" id="phoneInput">
                    </div>
                    <div class="form-group">
                        <label for="addressInput">Address</label>
                        <input type="text" class="form-control" id="addressInput">
                    </div>
                    <div class="form-group">
                        <label for="addressLine2Input">Address Line 2</label>
                        <input type="text" class="form-control" id="addressLine2Input">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="cityInput">City</label>
                            <input type="text" class="form-control" id="cityInput">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="stateInput">State</label>
                            <select class="form-control" id="stateInput">
                                <option selected>Choose...</option>
                                <option>California</option>
                                <option>Oregon</option>
                                <option>Washington</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="zipCodeInput">Zip Code</label>
                            <input type="text" class="form-control" id="zipInput">
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <a href="#"><button type="button" class="btn btn-primary">Continue</button></a>
            </div>
        </div>
    </body>
</html>
