%h1 Application Checklist
%p You will need to submit the following documents with your application:
%ul
  %li
    Pay stubs received in the past 60 days (or other income documentation) for
    each household member who is either turning 18 in this calendar year or is
    over 18 and not currently in high school. (For example, paycheck stubs,
    unemployment printout, child support printout etc.)
  %li
    Current year Benefit Verification Letter(s) for Social Security income. We
    %strong cannot
    accept bank statements as verification.
  %li A current copy of the utility bill requiring assistance.
  %li
    A copy of your
    %strong electric bill.
    Even if you are not requesting assistance with electricity, please submit a
    copy of your electric bill. If your utility bill is not in your name, you
    will need a signed letter from your landlord stating that you pay utilities
    directly to them. Please call
    = link_to '(541) 504-2155', 'tel:5415042155'
    to request a Landlord Letter if needed.
  %li Copies of ID for all household members 18 years and older.
  %li Copies of Social Security cards for all household members.
.btn-group.mt-4
  = link_to 'Back', before_you_begin_path, class: 'btn btn-outline-secondary'
  = link_to 'Next', screening_questions_path, class: 'btn btn-primary'
