<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NIEAP - Application Checklist</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <header>
                    <h1>Application Checklist</h1>
                    <h2>You will need to submit the following documents with your application:</h2>
                </header>
            </div>
            <div class="row">
                <ul>
                    <li style="margin-top:1.25em">Pay stubs received in the past 60 days (or other income
                    documentation) for each household member who is either turning 18 in this
                    calendar year or is over 18 and not currently in high school. (For example, paycheck
                    stubs, unemployment printout, child support printout etc. See next page for more
                    information.)</li>
                    <li style="margin-top:1.25em">Current year Benefit Verification Letter(s) for Social Security income. We CANNOT
                    accept bank statements as verification. We are sorry for the inconvenience.</li>
                    <li style="margin-top:1.25em">A current copy of the utility bill requiring assistance.</li>
                    <li style="margin-top:1.25em">A copy of your ELECTRIC bill. Even if you are not requesting assistance with electricity,
                    please submit a copy of your electric bill. If your utility bill is not in your name, you will
                    need a signed letter from your landlord stating that you pay utilities directly to
                    them. Please call 541.504.2155 to request Landlord Letter, if needed.</li>
                    <li style="margin-top:1.25em">Copies of ID for all household members 18 years & over.</li>
                    <li style="margin-top:1.25em; margin-bottom:1.25em">Copies of Social Security cards for all household members.</li>
                </ul>
            </div>
            <br>
            <div class="row btn-group">
                <button class="btn btn-secondary" id="BackButton">Back</button>
                <button class="btn btn-primary" id="StartApplicationButton">Start Application</button>
            </div>
        </div>
        <script>
            document.getElementById("BackButton").addEventListener("click", function () { window.location.href="before_you_begin" });
            document.getElementById("StartApplicationButton").addEventListener("click", function () { window.location.href="application_main_info" });
        </script>
    </body>
</html>
