<div class="container">
  <div class="row">
    <header>
      <h1>Application Checklist</h1>
      <h2>You will need to submit the following documents with your application:</h2>
    </header>
  </div>
  <div class="row">
    <ul>
      <li style="margin-top:1.25em">
        Pay stubs received in the past 60 days (or other income
        documentation) for each household member who is either turning 18 in this
        calendar year or is over 18 and not currently in high school. (For example, paycheck
        stubs, unemployment printout, child support printout etc. See next page for more
        information.)
      </li>
      <li style="margin-top:1.25em">
        Current year Benefit Verification Letter(s) for Social Security income.
        We <strong>cannot</strong> accept bank statements as verification. We are sorry for the inconvenience.
      </li>
      <li style="margin-top:1.25em">A current copy of the utility bill requiring assistance.</li>
      <li style="margin-top:1.25em">
        A copy of your <strong>electric</strong> bill. Even if you are not requesting assistance with electricity,
        please submit a copy of your electric bill. If your utility bill is not in your name, you will
        need a signed letter from your landlord stating that you pay utilities directly to
        them. Please call <a href="tel:5415042155">(541) 504-2155</a> to request Landlord Letter, if needed.
      </li>
      <li style="margin-top:1.25em">Copies of ID for all household members 18 years & over.</li>
      <li style="margin-top:1.25em">Copies of Social Security cards for all household members.</li>
    </ul>
  </div>
  <br>
  <div class="row btn-group">
    <a href="before_you_begin" class="btn btn-secondary">Back</a>
    <a href="screening_questions" class="btn btn-primary">Next</a>
  </div>
</div>
