<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="index.css">
        <title>NIEAP - Application Checklist</title>
    </head>
    <body>
        <h1 style="text-align:center">Application Checklist</h1>
        <h2 style="text-align:center; text-decoration:underline">You will need to submit the following documents with your application:</h2>
        <ul style="text-align:center">
            <li style="margin-top:1.25em">Pay stubs received in the past 60 days (or other income
            documentation) for each household member who is either turning 18 in this
            calendar year or is over 18 and not currently in high school. (For example, paycheck 
            stubs, unemployment printout, child support printout etc. See next page for more
            information.)</li>
            <li style="margin-top:1.25em">Current year Benefit Verification Letter(s) for Social Security income. We CANNOT
            accept bank statements as verification. We are sorry for the inconvenience.</li>
            <li style="margin-top:1.25em">A current copy of the utility bill requiring assistance.</li>
            <li style="margin-top:1.25em">A copy of your ELECTRIC bill. Even if you are not requesting assistance with electricity,
            please submit a copy of your electric bill. If your utility bill is not in your name, you will
            need a signed letter from your landlord stating that you pay utilities directly to
            them. Please call 541.504.2155 to request Landlord Letter, if needed.</li>
            <li style="margin-top:1.25em">Copies of ID for all household members 18 years & over.</li>
            <li style="margin-top:1.25em; margin-bottom:1.25em">Copies of Social Security cards for all household members.</li>
    </ul>
    <div style="text-align:center">
        <table style="margin-left:auto; margin-right:auto; border:1px solid black">
        <tr>
            <th>Household Size</th>
            <th>Max Monthly Gross Income*</th>
        </tr>
        <tr>
            <td>1</td>
            <td>$2,317.15</td>
        </tr>
        <tr>
            <td>2</td>
            <td>$3,030.10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>$3,743.05</td>
        </tr>
        <tr>
            <td>4</td>
            <td>$4,456.00</td>
        </tr>
        <tr>
            <td>5</td>
            <td>$5,169.00</td>
        </tr>
        <tr>
            <td>6</td>
            <td>$5,882.00</td>
        </tr>
        <tr>
            <td>7</td>
            <td>$6,015.67</td>
        </tr>
        <tr>
            <td>8</td>
            <td>$6,149.30</td>
        </tr>
        <tr>
            <td>Add $133.65 for each husehold member beyond 8.</td>
            <td>*Gross income means all household income before any deductions</td>
        </tr>
        </table> 
    </div?
    <div class="form-group"; style="text-align:center">
        <button name="BackButton">Back</button>
        <button name="NextButton">Continue</button>
    </div>
    </body>
</html>
<script>
    var backButton = document.getElementsByName("BackButton");
    backButton[0].addEventListener("click", function(){window.location.href="", "_self"});
    var nextButton = document.getElementsByName("BackButton");
    nextButton[0].addEventListener("click", function(){window.location.href="", "_self"});
</script>