<h1>Energy Assistance Program Year 2020-2021</h1>
<p>BEFORE YOU BEGIN</p>
<p>- Please take the time to read ALL of the instructions carefully.</p>
<p>- WARNING: Failure to include required documentation may result in a
denial of your application.</p>
<p>- We are a small staff and since the COVID shutdown, we are often
working remotely. That means we have to take three extra steps to get
the job done. We process thousands of applications getting 2-3 million
dollars each year back out into the community in the form of heating
assistance.</p>
<p>- You know what we CANNOT PROCESS? An INCOMPLETE APPLICATION.</p>
That means we go onto the next one and try to get back to those in our
spare time. The problem is we only have spare time when we are out of
funds. If we are out of funds, then we simply cannot help.</p>
<p>NO ONE WANTS THAT TO HAPPEN!</p>
<p>PLEASE HELP US TO HELP YOU – IT’S OUR FAVORITE THING TO DO!</p>
<p>READ THE INSTRUCTIONS</p>
<p>TURN EVERYTHING IN</p>
<p>GET ASSISTANCE</p>