<header>
  <h1>Before You Begin</h1>
</header>

<p style="margin-top:1.25em">Please take the time to read <strong>all</strong> of the instructions carefully.</p>
<p style="margin-top:1.25em">
  <strong>Warning:</strong> Failure to include required documentation may result in a denial of your application.
</p>
<p style="margin-top:1.25em">
  We are a small staff and since the COVID-19 shutdown, we are often
  working remotely. That means we have to take three extra steps to get
  the job done. We process thousands of applications getting 2-3 million
  dollars each year back out into the community in the form of heating
  assistance.
</p>
<p style="margin-top:1.25em; margin-bottom:1.25em">
  You know what we <strong>cannot process</strong>? An <strong>incomplete application</strong>.
  That means we go onto the next one and try to get back to those in our
  spare time. The problem is we only have spare time when we are out of
  funds. If we are out of funds, then we simply cannot help.
</p>

<h4>No one wants that to happen!</h4>
<h4>Please help us to help you – it's our favorite thing to do!</h4>
<h4>Read the instructions.</h4>
<h4>Turn everything in.</h4>
<h4>Get assistance.</h4>
<br>
<p><a href="/application_checklist" class="btn btn-primary">Next</a></p>
