%h1 Before You Begin
%p
  Please take the time to read
  %strong all
  of the instructions carefully.
%p.alert.alert-warning
  %strong Warning:
  Failure to include the required documentation will result in a denial of your application.
%p
  We are a small staff. We process thousands of applications getting 2-3 million  dollars each year back out into the community in the form of heating assistance.
%h2 We cannot process an incomplete application.
%p Please help us to help you – it's our favorite thing to do!
%h4 Read the instructions. Turn everything in. Get assistance.
.mt-4
  = link_to 'Next', application_checklist_path, class: 'btn btn-primary'
