%h1 NeighborImpact Energy Assistance Program
%p Thank you for using NeighborImpact's online Energy Assistance Program application. Click the button below to return to the main page.
= link_to 'Back to NeighborImpact', 'https://www.neighborimpact.org', class: 'btn btn-outline-primary'
