<h1>NeighborImpact Energy Assistance Program</h1>

<p>Thank you for using NeighborImpact's online Energy Assistance Program application. Click the button below to return to the main page.</p>

<div class="btn-group">
  <a href="http://www.neighborimpact.org" target="_blank" class="btn btn-outline-primary">Back to Nieghbor Impact</a>
</div>