%h1 NeighborImpact Energy Assistance Program
%h2 Online Application

%p NeighborImpact's online application for the federal Low Income Home Energy Assistance Program (LIHEAP).

%h3
  First time here?
  = link_to 'Get Started &raquo;'.html_safe, new_user_registration_path

%h4.mt-4
  Or,
  = link_to 'sign in', new_user_session_path
  to continue your application.

%p.mt-5= link_to '&laquo; Back to NeighborImpact.org'.html_safe, 'https://neighborimpact.org'
