<h1>NeighborImpact Energy Assistance Program</h1>
<h2>Online Application</h2>

<p>Welcome to NeighborImpact's online application for the federal Low Income Home Energy Assistance Program ('LIHEAP'). Here we will walk you through your submitting your application.</p>

<div class="btn-group">
  <a href="users/sign_in" class="btn btn-outline-primary">Returning User</a>
  <a href="users/sign_up" class="btn btn-outline-primary">New User</a>
  <a href="http://www.neighborimpact.org" target="_blank" class="btn btn-outline-primary">Back to Main Site</a>
</div>
