<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NIEAP - Energy Applications - Clients</title>
    </head>
    <body>
        <h1>Energy Application Clients</h1>
        <div class="row">
            <div class="col-md-1">
                <form action="/energy_applications" method="get">
                    <button type="submit" class="btn btn-primary" id="backButton" style="margin-top:.5em">Back</button>
                </form>
            </div> <!-- end first column -->
            <div class="col-md-11">
                <% @clientList.each do |client| %>
                    <% alertStr = "ID Number: " + client.id.to_s %>
                    <% userName = "[NO CLIENT]" %>
                    <% if client.first_name != nil then userName = client.first_name + " " + client.last_name end%>
                    <% formStr = "" %> <!-- fill in later if need to manage applicants -->
                    <div class="alert alert-primary" style="margin-top:.5em" >
                        <%= alertStr %>
                        <br>
                        Name: <%= userName %>
                    </div>
                <% end %>
            </div>  <!-- end second column -->
        </div>
    </body>
</html>
