<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>NIEAP - Energy Applications</title>
    </head>
    <body>
        <h1>Edit Energy Application</h1>
        <p> Energy Application <%= @enApp.id %> <p>
        <% clientName = "[NO CLIENT]" %>
        <% if @client != nil then clientName = (@client.first_name + " " + @client.last_name) end %>
        <p> Client - <%=  clientName %> </p>
        <div>
            <button class="btn btn-primary" id="updateRecordButton">Update</button>
        </div>
        <div>
            <button class="btn btn-primary" id="deleteRecordButton">Delete</button>
        </div>
    </body>
</html>
