<h1>Energy Applications</h1>

<h2>Submitted Applications</h2>

<% @energy_applications.each do |energy_application| %>
  <% if energy_application.submission_date != nil %>
    <p><%= link_to energy_application, energy_application_path(energy_application), class: "btn btn-outline-primary" %></p>
  <% end %>
<% end %>

<h2>Drafts</h2>

<% @energy_applications.each do |energy_application| %>
  <% if energy_application.submission_date == nil %>
    <p><%= link_to energy_application, energy_application_path(energy_application), class: "btn btn-outline-primary" %></p>
  <% end %>
<% end %>

<div class="btn-group">
  <a href="screening_questions" class="btn btn-secondary">Back</a>
  <%= link_to "Create New Application", new_energy_application_path, class: "btn btn-primary" %>
</div>
