%h1 My Energy Assistance Applications
- if @energy_applications.empty?
  %h2.mt-5.text-center= link_to 'Begin a New Application', before_you_begin_path, class: 'btn btn-large btn-primary'
- else
  %table.table.table-hover
    %thead
      %tr
        %th{scope: 'col'} id
        %th Last Updated
        %th Status
    %tbody
      - @energy_applications.each do |application|
        %tr
          %th{scope: 'row'}= application.id
          %td= application.updated_at.to_s(:long)
          %td TODO
