<h1>Energy Applications</h1>

<%= link_to "Create New Application", new_energy_application_path, class: "btn btn-primary" %>

<ul>
  <% @energy_applications.each do |energy_application| %>
    <li><%= link_to energy_application, energy_application_path(energy_application) %></li>
  <% end %>
</ul>
