<%= form_with(local: true) do |f| %>

    <h1>Supporting Documentation</h1>
    <p>The following documents are required to be able to process your application. If you are uploading photographs, please make sure that they are legible.<p>

    <ul>
    <li>
        Pay stubs or other income documentation received in the past 60 days for
        each household member who is either turning 18 in this calendar year or is
        over 18 and not currently in high school.
    <li>
        Current year Benefit Verification Letter(s) for Social Security income. We
        cannot accept bank statements as verification.
    <li> A current copy of the utility bill requiring assistance.
    <li>
        A copy of your electric bill.
    <li>
        A signed letter from your landlord stating that you pay utilities, if the utility 
        bills are not in your name.
    <li> Copies of ID for all household members 18 years and older.
    <li> Copies of Social Security cards for all household members.
    </ul>

    <%= f.file_field :documents, multiple: true, direct_upload: true %>


<% end %>